---
const { class: className = '', textColor = ''} = Astro.props;
---
<nav class={className} aria-label="Navigation principale">
    <a href="/" class={`text-xs hover:scale-105 ${textColor} flex flex-col md:flex-row lg:text-sm md:gap-1`}><i class="fa-solid fa-house text-center text-xl"></i>Accueil</a>
    <a href="/projects" class={`text-xs hover:scale-105 ${textColor} flex flex-col md:flex-row lg:text-sm md:gap-1`}><i class="fa-regular fa-pen-to-square text-center text-xl"></i>Projets</a>
    <a href="/#contact" class={`text-xs hover:scale-105 ${textColor} flex flex-col md:flex-row lg:text-sm md:gap-1`}><i class="fa-regular fa-envelope text-center text-xl"></i>Contact</a>
</nav>