<section id="contact" class="mt-16 px-4 sm:px-8 lg:px-16" data-aos="fade-up">
	<div class="bg-white dark:bg-gray-900 rounded-xl shadow-lg p-6 md:p-8 max-w-2xl mx-auto">
	  
	  <h2 class="text-3xl font-bold mb-4 text-gray-800 dark:text-white">
		Me contacter
	  </h2>
  
	  <p class="text-gray-600 dark:text-gray-400 mb-6 text-sm md:text-base">
		Je suis toujours ouvert à de nouvelles opportunités ou collaborations.<br />
		N'hésitez pas à me joindre par email ou téléphone.
	  </p>
  
	  <div class="space-y-3 text-sm md:text-base">
		<p class="grid grid-cols-[24px_1fr] gap-2 items-center">
			<svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-at-sign-icon lucide-at-sign"><circle cx="12" cy="12" r="4"/><path d="M16 8v5a3 3 0 0 0 6 0v-1a10 10 0 1 0-4 8"/></svg>
			<a href="mailto:davide.denotarpietro@gmail.com" class="break-all text-blue-600 dark:text-blue-400 hover:underline">
				davide.denotarpietro@gmail.com
			</a>
		</p>
		<p class="grid grid-cols-[24px_1fr] gap-2 items-center">
			<svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-phone-outgoing-icon lucide-phone-outgoing"><polyline points="22 8 22 2 16 2"/><line x1="16" x2="22" y1="8" y2="2"/><path d="M22 16.92v3a2 2 0 0 1-2.18 2 19.79 19.79 0 0 1-8.63-3.07 19.5 19.5 0 0 1-6-6 19.79 19.79 0 0 1-3.07-8.67A2 2 0 0 1 4.11 2h3a2 2 0 0 1 2 1.72 12.84 12.84 0 0 0 .7 2.81 2 2 0 0 1-.45 2.11L8.09 9.91a16 16 0 0 0 6 6l1.27-1.27a2 2 0 0 1 2.11-.45 12.84 12.84 0 0 0 2.81.7A2 2 0 0 1 22 16.92z"/></svg>
			<a href="tel:+33667680969" class="text-blue-600 dark:text-blue-400 hover:underline">
				+33 6 67 68 09 69
			</a>
		</p>
	  </div>
	</div>
</section>
  