@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));
@theme {
    --font-sans: 'Inter', 'sans-serif';
    --font-montserrat: 'Montserrat', 'ui-sans-serif', 'system-ui';
}
@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
  }

.animate-fadeIn {
    animation: fadeIn 0.2s ease-out;
}
@keyframes slide-desktop {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(calc(-100% - 100vw));
    }
  }
  
@keyframes slide-mobile {
0% {
    transform: translateX(100%);
}
100% {
    transform: translateX(calc(-100% - 200vw));
}
}
/* Animation par défaut (mobile) */
.animate-slide {
    animation: slide-mobile 20s linear infinite;
    animation-play-state: running;
}
.animate-slide:hover {
    animation-play-state: paused;
}

/* Override en desktop */
@media (min-width: 768px) {
    .animate-slide {
    animation: slide-desktop 20s linear infinite;
    animation-play-state: running;
    }
    .animate-slide:hover {
        animation-play-state: paused;
    }
}



.grid-background {
    position: absolute;
    inset: 0;
    z-index: 0;
    background-image:
      linear-gradient(to right, rgba(0, 0, 0, 0.05) 1px, transparent 1px),
      linear-gradient(to bottom, rgba(0, 0, 0, 0.05) 1px, transparent 1px);
    background-size: 24px 24px;
    pointer-events: none; /* pour éviter tout blocage de clic */
}
  
/* Dark mode (avec la classe dark d'Astro ou Tailwind) */
.dark .grid-background {
background-image:
    linear-gradient(to right, rgba(255, 255, 255, 0.05) 1px, transparent 1px),
    linear-gradient(to bottom, rgba(255, 255, 255, 0.05) 1px, transparent 1px);
}

/* montserrat-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: url('/fonts/montserrat-v29-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
/* montserrat-italic - latin */
@font-face {
font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
font-family: 'Montserrat';
font-style: italic;
font-weight: 400;
src: url('/fonts/montserrat-v29-latin-italic.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* montserrat-700 - latin */
@font-face {
font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
src: url('/fonts/montserrat-v29-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
.mask-fade {
    /* Style par défaut : version mobile = gradient serré */
    -webkit-mask-image: linear-gradient(to right, transparent 0%, black 2%, black 7%, transparent 100%);
    mask-image: linear-gradient(to right, transparent 0%, black 2%, black 7%, transparent 100%);
}
  
  /* Version desktop : gradient plus large */
@media screen and (min-width: 768px) {
    .mask-fade {
      -webkit-mask-image: linear-gradient(to right, transparent 0%, black 30%, black 85%, transparent 100%);
      mask-image: linear-gradient(to right, transparent 0%, black 30%, black 85%, transparent 100%);
    }
}
nav.bg-gradient-custom {
    background: -webkit-linear-gradient(90deg, #000000,#0d1521,#070e18);
    background: linear-gradient(90deg, #000000,#0d1521,#070e18);
}
.dark .bg-gradient-custom {
    background: -webkit-linear-gradient(90deg, #000000,#0d1521,#070e18);
    background: linear-gradient(90deg, #000000,#0d1521,#070e18);
}
.bg-gradient-custom {
    background:radial-gradient(at 63.261459248684474% 40.435661867180194%, hsla(48.00000000000007, 100%, 99.01960784313727%, 1) 0%, hsla(48.00000000000007, 100%, 99.01960784313727%, 0) 100%), radial-gradient(at 18.473599030629593% 79.40548977479239%, hsla(270, 53.84615384615389%, 94.90196078431372%, 1) 0%, hsla(270, 53.84615384615389%, 94.90196078431372%, 0) 100%), radial-gradient(at 47.40296924426739% 16.607117886821054%, hsla(201.95121951219514, 71.92982456140355%, 88.8235294117647%, 1) 0%, hsla(201.95121951219514, 71.92982456140355%, 88.8235294117647%, 0) 100%), radial-gradient(at 1.8497164291168877% 26.801765486112174%, hsla(270, 53.84615384615389%, 94.90196078431372%, 1) 0%, hsla(270, 53.84615384615389%, 94.90196078431372%, 0) 100%), radial-gradient(at 62.88192195325533% 74.38051770016652%, hsla(246.66666666666663, 40.29850746268652%, 86.86274509803921%, 1) 0%, hsla(246.66666666666663, 40.29850746268652%, 86.86274509803921%, 0) 100%), radial-gradient(at 14.260879250351266% 9.302307798394338%, hsla(48.00000000000007, 100%, 99.01960784313727%, 1) 0%, hsla(48.00000000000007, 100%, 99.01960784313727%, 0) 100%), radial-gradient(at 96.49018180932643% 46.06238425943015%, hsla(270, 53.84615384615389%, 94.90196078431372%, 1) 0%, hsla(270, 53.84615384615389%, 94.90196078431372%, 0) 100%), radial-gradient(at 18.84291244561107% 45.7932449716266%, hsla(201.95121951219514, 71.92982456140355%, 88.8235294117647%, 1) 0%, hsla(201.95121951219514, 71.92982456140355%, 88.8235294117647%, 0) 100%), radial-gradient(at 24.214807677915395% 43.8602030360739%, hsla(270, 53.84615384615389%, 94.90196078431372%, 1) 0%, hsla(270, 53.84615384615389%, 94.90196078431372%, 0) 100%);
}
.dark .navMobile-gradient-custom {
    background:radial-gradient(at 63.261459248684474% 40.435661867180194%, hsla(48.00000000000007, 100%, 99.01960784313727%, 1) 0%, hsla(48.00000000000007, 100%, 99.01960784313727%, 0) 100%), radial-gradient(at 18.473599030629593% 79.40548977479239%, hsla(270, 53.84615384615389%, 94.90196078431372%, 1) 0%, hsla(270, 53.84615384615389%, 94.90196078431372%, 0) 100%), radial-gradient(at 47.40296924426739% 16.607117886821054%, hsla(201.95121951219514, 71.92982456140355%, 88.8235294117647%, 1) 0%, hsla(201.95121951219514, 71.92982456140355%, 88.8235294117647%, 0) 100%), radial-gradient(at 1.8497164291168877% 26.801765486112174%, hsla(270, 53.84615384615389%, 94.90196078431372%, 1) 0%, hsla(270, 53.84615384615389%, 94.90196078431372%, 0) 100%), radial-gradient(at 62.88192195325533% 74.38051770016652%, hsla(246.66666666666663, 40.29850746268652%, 86.86274509803921%, 1) 0%, hsla(246.66666666666663, 40.29850746268652%, 86.86274509803921%, 0) 100%), radial-gradient(at 14.260879250351266% 9.302307798394338%, hsla(48.00000000000007, 100%, 99.01960784313727%, 1) 0%, hsla(48.00000000000007, 100%, 99.01960784313727%, 0) 100%), radial-gradient(at 96.49018180932643% 46.06238425943015%, hsla(270, 53.84615384615389%, 94.90196078431372%, 1) 0%, hsla(270, 53.84615384615389%, 94.90196078431372%, 0) 100%), radial-gradient(at 18.84291244561107% 45.7932449716266%, hsla(201.95121951219514, 71.92982456140355%, 88.8235294117647%, 1) 0%, hsla(201.95121951219514, 71.92982456140355%, 88.8235294117647%, 0) 100%), radial-gradient(at 24.214807677915395% 43.8602030360739%, hsla(270, 53.84615384615389%, 94.90196078431372%, 1) 0%, hsla(270, 53.84615384615389%, 94.90196078431372%, 0) 100%);}
