---
import BaseLayout from '../../layouts/AdminLayout.astro';
import jwt from 'jsonwebtoken';
import cookie from 'cookie';
export const prerender = false;
const SECRET = import.meta.env.JWT_SECRET || 'dev-secret';

// Récupère et parse les cookies
const rawCookies = Astro.request.headers.get('cookie') || '';
const { token } = cookie.parse(rawCookies);

// Vérifie la validité du token JWT
if (!token) {
  return Astro.redirect('/login');
}

let username: string;

try {
  const decoded = jwt.verify(token, SECRET) as jwt.JwtPayload;
  username = decoded.username;
} catch (err) {
  return Astro.redirect('/login');
}
---



<BaseLayout>
    <main slot="main" class="flex-grow p-6 container mx-auto">
        <h1 class="text-3xl text-center font-bold mb-4">Tableau de bord</h1>
        <div class="flex justify-between">
            <h2 class="text-2xl font-bold mb-4">Bienvenue, {username} 👋</h2>
            <a href="/api/public/logout">
                <button class="flex items-center gap-2 px-4 py-2 bg-red-500 text-white rounded-lg hover:bg-red-600 transition-all duration-200 shadow-md dark:hover:bg-red-700 cursor-pointer">Se déconnecter</button>
            </a>
        </div>            
            <p class="mb-6">Voici ton tableau de bord personnel. Tu peux :</p>

                <ul class="list-disc ml-6 space-y-2">
                <li><a href="/admin1603/projects" class="text-blue-600 underline">Gérer les projets</a></li>
                <li></li>
                </ul>
                <form method="POST" action="/api/private/upload" enctype="multipart/form-data">
                    <input type="file" name="file" required />
                    <button type="submit">Uploader</button>
                </form>
    </main>
</BaseLayout>
