---
import BaseLayout from '../layouts/Layout.astro';
---

<BaseLayout>
    <main slot="main" class="flex-grow p-6 container mx-auto">
        <h2>About Us</h2>
        <p>Welcome to our about page!</p>
    </main>
</BaseLayout>