---
import BaseLayout from '../layouts/Layout.astro';
import dataHome from '../data/home.json';
import Head from '../components/astro/Head.astro';
import SectionProfile from '../components/astro/SectionProfile.astro';
const headData = dataHome.find((d) => d.id === "head");
const profileData = dataHome.find((d) => d.id === "profile");
---

<BaseLayout>
	<Head slot="head" headData={headData} />
	<main slot="main" class="flex-grow p-6 container mx-auto">
		<SectionProfile title={profileData.title} description={profileData.description} />
	</main>
</BaseLayout>
