---
import BaseLayout from '../layouts/Layout.astro';
import SectionProfile from '../components/astro/SectionProfile.astro';
import SlideProjects from '../components/react/SlideProjects';
import SectionContact from '../components/astro/SectionContact.astro';
import SectionCompetences from '../components/astro/SectionCompetences.astro';
---

<BaseLayout>
	<meta slot="head" name="robots" content="index, follow">
	<title slot="head">Portfolio de Davide De Notarpietro - Développeur Web Full-Stack</title>
	<meta slot="head" name="description" content="Je suis Davide De Notarpietro, développeur web full-stack et eCommerçant dans l'Oise (60). N'hésitez pas à me contacter pour discuter de votre projet" />
	<link slot="head" rel="canonical" href="https://www.davidedenotarpietro.dev/">
	<main slot="main" class="flex-grow p-6 container mx-auto">
		<SectionProfile />
		<SectionCompetences />
		<div class="h-150 w-full mask-fade bg-white dark:bg-gray-900 rounded-xl">
			<SlideProjects client:idle />
		</div>
		<SectionContact />
	</main>
</BaseLayout>
