---
import LoginForm from '../components/react/LoginForm.jsx'
import '../styles/global.css'
---

<html lang="fr">
  <head>
    <meta slot="head" name="robots" content="noindex, follow">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Connexion Admin</title>
    <script>
      (function () {
        const storedTheme = localStorage.getItem('theme portfolio davide');
        const isDark = storedTheme === 'dark';
        
        if (isDark) {
          document.documentElement.classList.add('dark');
          document.documentElement.classList.add('thumb-dark');
        }
      })();
    </script>
  </head>
  <body class="font-montserrat bg-gray-100 dark:bg-gray-900 text-gray-800 dark:text-gray-100">
    <main class="text-center">
      <LoginForm client:visible />
      <a href="/" class="text-sm text-gray-600 dark:text-gray-400 hover:underline">retourner sur la page d'accueil</a>
    </main>
  </body>
</html>
