---
import BaseLayout from '../layouts/Layout.astro';
export const prerender = false;
import { db, Project } from 'astro:db';

const projects = await db.select().from(Project);
---
<BaseLayout>
    <main slot="main" class="flex-grow p-6 container mx-auto">
        <h1 class="text-3xl font-bold mb-4">Mes projets</h1>

        <ul class="grid gap-6 sm:grid-cols-2 lg:grid-cols-3">
        {projects.map((p) => (
            <li class="border p-4 rounded shadow">
            <img src={p.image} alt={p.title} class="mb-2 rounded" />
            <h2 class="text-xl font-semibold">{p.title}</h2>
            <p class="text-sm text-gray-600">{p.description}</p>
            </li>
        ))}
        </ul>
    </main>
</BaseLayout>