<section id="projects" data-aos="fade-right">
	<h2 class="text-2xl font-semibold mb-2">Projets récents</h2>
	<ul class="list-disc ml-5">
		<li>Portfolio personnel (Astro + Tailwind)</li>
		<li>Application React avec Firebase</li>
		<li>Site vitrine en HTML/CSS vanilla</li>
	</ul>
</section>