---                               
import '../styles/global.css' 
import Toggledark from '../components/astro/Toggledark.astro'
import Nav from '../components/astro/Nav.astro'
import LoginButton from '../components/react/LoginButton.jsx'
const year = new Date().getFullYear() 
---   

<html lang="fr">
  <head>
    <link rel="preload" href="/fonts/montserrat-v29-latin-regular.woff2" as="font" type="font/woff2" crossorigin="anonymous">
    <link rel="preload" href="/fonts/montserrat-v29-latin-italic.woff2" as="font" type="font/woff2" crossorigin="anonymous">
    <link rel="preload" href="/fonts/montserrat-v29-latin-700.woff2" as="font" type="font/woff2" crossorigin="anonymous">
    <script>
      (function () {
        const storedTheme = localStorage.getItem('theme portfolio davide');
        const isDark = storedTheme === 'dark';
        
        if (isDark) {
          document.documentElement.classList.add('dark');
          document.documentElement.classList.add('thumb-dark');
        }
      })();
    </script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js" defer></script>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <slot name="head" />
	  <meta name="author" content="Davide De Notarpietro">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />
  </head>
  <body class="min-h-screen flex flex-col bg-gradient-custom text-gray-800 font-montserrat dark:text-gray-300">
    <Nav class="z-9999 fixed h-12 bottom-0 left-0 right-0 space-x-4 navMobile-gradient-custom bg-gradient-custom dark:text-gray-700 flex justify-around items-center md:hidden" textColor="text-gray-300 hover:text-gray-100 dark:text-gray-600 dark:hover:text-gray-800" toggleClass="hidden" aria-label="Navigation principale mobile" />
    <div class="flex-grow" data-aos="fade-in">
    <!-- Header avec navigation -->
    <header class="backdrop-blur-xl shadow-md dark:shadow-black md:h-32">
      <div class="container p-6 mx-auto flex flex-col justify-between items-center md:flex-row md:h-32">
        <h1 class="text-base font-bold flex-1" data-astro-lcp>Davide De Notarpietro<span class="text-sm font-normal italic block mb-2">développeur web full-stack & eCommerçant</span></h1>
        <Nav class="hidden md:flex md:gap-4 md:items-center md:justify-center flex-2" textColor="dark:hover:text-gray-100" toggleClass="md:flex" aria-label="Navigation principale" />
        <div class="flex flex-1 flex-col-reverse items-center gap-2 md:w-35">
          <LoginButton client:only="react" />
          <Toggledark aria-label="Activer ou désactiver le mode sombre" role="switch"/>
        </div>
      </div>
      <slot name="header" />
    </header>

    <!-- Contenu principal -->
    <slot name="main" />
    </div>
    <!-- Footer -->
    <footer class="pb-13 flex flex-col gap-4 bg-gray-200 dark:bg-gray-700 text-center p-4 text-sm">
      <p>Site réalisé à la main et ne collectant aucunes données personnelles</p>
      <p>Développé avec <a href="https://astro.build/" aria-label="Visiter le site officiel Astro" target="_blank" rel="noopener noreferrer" class="text-black font-bold dark:text-white hover:underline">Astro</a> et déployé sur <a href="https://vercel.com/" aria-label="Visiter le site officiel Vercel" target="_blank" rel="noopener noreferrer" class="text-black font-bold dark:text-white hover:underline">Vercel</a></p>
      <p slot="footer">© {year} Davide De Notarpietro - Tous droits réservés</p>
      <slot name="footer" />
    </footer>   
	<!-- Initialise AOS après chargement complet -->
    <script>
      window.addEventListener('DOMContentLoaded', () => {
        AOS.init();
      });
    </script>
  </body>
</html>
